.form {
    width: 320px;
    margin-top: 20px;
}

.label {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.loginFormInput {
    margin-top: 5px;
transition: border 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.loginFormInput:hover,
.loginFormInput:active {
    outline: none;
    border: 2px solid #5e93f5;
}

.loginFormBtn {
    margin-top: 10px;
    font-weight: bolder;
    padding: 5px 10px;
    transition: border-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1),
            background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1),
            color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.loginFormBtn:hover,
.loginFormBtn:active {
    /* border-color: #e84a5f; */
        background-color: #5e8fe9;
        color: white;
}